@charset "utf-8";

body {
    background: lightblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    font-size: 0.8em;
}
#container {
    margin:0 auto;
    width: 80%;
    height: auto;
    background: red; 
}
h1 {
    width: 80%;
    height: 50px;
    background: #333;   
}
p {
    width: 75%;
    height: auto;
    background: hotpink;
}